* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 1920px;
    height: 162px;
    background-color: #410C00;
}

.navbar__box {
    width: 80%;
    height: 162px;
    margin: 0 auto;
    
}

.nav_top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav_top a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

}

.nav_bottom {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.nav_bottom a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17.5px;
}

.nav_bottom a i {
    color: rgb(182, 101, 20);
}
.b{
    transform: scaleY(0.6);
    margin-top: -220px;
}
.text{
    font-size: 18px;
    color: rgb(225, 228, 228);
    margin-top: -700px;
    position: absolute;
    margin-left: 150px;
}
.text1{
    font-size: 38px;
    color: rgb(225, 228, 228);
    margin-top: -650px;
    position: absolute;
    margin-left: 150px;
}
.box{
    width: 130px;
    height: 50px;
    background-color: rgb(174, 178, 178);
    border-radius: 10px;
    border: none;
    position: absolute;
    margin-top: -550px;
    margin-left: 150px;

}
.box:hover{
    background-color: blue;
    transform: 1s;
    color: rgb(221, 215, 215);
}
.mein{
    
     width: 1930px;
     height: 650px;
     background-color: rgb(198, 105, 39);
     margin-top: -218px;
     position: absolute;

}
.text2{
    margin-top: 250px;
    position: absolute;
    margin-left: 990px;
    color: aliceblue;
    font-size: 15px;
}
.text3{
    color: aliceblue;
    margin-top: -350px;
    margin-left: 980px;
    font-size: 48px;
    position: absolute;
}
.foto{
    margin-top: 70px;
    margin-left: 210px;
    position: absolute;
    animation: mumove 3s infinite;
    position: relative;
}
 @keyframes mumove{
    0%{
      top: 0px; 
    }
    50%{
      top: 50px;
      
    }
    100%{
      top: 0px;
    }
} 
.box1{
    width: 130px;
    height: 50px;
    background-color: rgb(174, 178, 178);
    border-radius: 10px;
    border: none;
    position: absolute;
    margin-top: 480px;
    margin-left: 190px;

}
.box1:hover{
    background-color: blue;
    transform: 1s;
    color: rgb(221, 215, 215);
}
.mein1{
    width: 1950px;
    height: 750px;
    margin-top: 435px;
    background-color: rgb(249, 248, 248);
    position: absolute;
}
.text4{
    margin-left: 720px;
    margin-top: 80px;
    position: absolute;
    font-size: 45px;
}
.aa{
    width: 140px;
    height: 15px;
    background-color: red;
    margin-left: 920px;
    margin-top: 180px;
    position: absolute;

}

.foto1{
    margin-top: 280px;
    margin-left: 330px;
    position: absolute;
    transition: all ease 1s;
    

}
.foto1:hover{
    transform: scale(0.9);
}

.foto2{
    margin-top: 280px;
    margin-left: 850px;
    position: absolute;
    transition: all ease 1s;
}
.foto2:hover{
    transform: scale(0.9);
}
.foto3{
    margin-top: 280px;
    margin-left: 1350px;
    position: absolute;
    transition: all ease 1s;
}
.foto3:hover{
    transform: scale(0.9);
}
.text5{
    margin-top: 600px;
    position: absolute;
    margin-left: 400px;
    font-size: 22px;
}
.text6{
    margin-top: 600px;
    position: absolute;
    margin-left: 930px;
    font-size: 22px;
}
.text7{
    margin-top: 600px;
    position: absolute;
    margin-left: 1440px;
    font-size: 22px;
} 
.box2{
    width: 130px;
    height: 50px;
    background-color: rgb(63, 178, 22);
    border-radius: 13px;
    border: none;
    position: absolute;
    margin-top: 680px;
    margin-left: 411px;

}
.box2:hover{
    background-color: blue;
    transform: 1s;
    color: rgb(221, 215, 215);
} 
.box3{
    width: 130px;
    height: 50px;
    position: absolute;
    background-color: rgb(63, 178, 22);
    border-radius: 13px;
    border: none;
    margin-top: 680px;
    margin-left: 927px
}
.box3:hover{
    background-color: blue;
    transform: 1s;
    color: rgb(221, 215, 215);
}
.box4{
    width: 130px;
    height: 50px;
    position: absolute;
    background-color: rgb(63, 178, 22);
    border-radius: 13px;
    border: none;
    margin-top: 680px;
    margin-left: 1437px 
}
.box4:hover{
    background-color: blue;
    transform: 1s;
    color: rgb(221, 215, 215);
}
.mein2{
    background-image: url(https://lhcdn.mars.com/adaptivemedia/rendition/id_c38099efd7a9f0763feffe2dd3d6d3ff1baaf63e/name_c38099efd7a9f0763feffe2dd3d6d3ff1baaf63e.jpg);
    height: 890px;
    margin-top: 1190px;
    background-repeat: no-repeat;
    width: 1950px;
    margin-left: -20px;
    background-size: cover;
    background-position: center;
    
}
.text8{
    color: rgb(234, 236, 238);
    text-align: center;
    margin-top: 300px;
    position: absolute;
    margin-left: 680px;

}
.text9{
    text-align: center;
    font-size: 68px;
    margin-top: 380px;
    position: absolute;
    margin-left: 250px;
}
.box5{
    width: 150px;
    height: 50px;
    position: absolute;
    background-color: rgb(63, 178, 22);
    border-radius: 13px;
    border: none;
    margin-top: 610px;
    margin-left: 657px 
}
.box5:hover{
    background-color: blue;
    transform: 1s;
    color: rgb(221, 215, 215);
}
.boxa{
    width: 330px;
    height: 495px;
    background-color: rgb(80, 2, 2);
    margin-left: 1350px;
    margin-top: 250px;
    position: absolute;
    border-radius: 10px;
}
.boxa:hover{
    background-color:blue;
    transition: 1s all;
}
.text10{
    color: rgb(224, 224, 229);
    font-size: 16px;
    position: absolute;
    margin-top: 50px;
    margin-left: 120px;
}
.text11{
    color: aliceblue;
    margin-left: 15px;
    margin-top: -10px;
}
.box6{
   width: 130px;
   height: 50px;
   background-color: chartreuse;
   color: rgb(12, 9, 9);
    border-radius: 13px;
    border: none;
    margin-top: 30px;
    margin-left: 17px; 
    position: absolute;
}
.box6:hover{
    background-color: rgb(12, 12, 16);
    transform: 1s;
    color: aliceblue;
    
}
.box7{
    width: 130px;
    height: 50px;
    background-color: chartreuse;
    color: rgb(12, 9, 9);
     border-radius: 13px;
     border: none;
     margin-top: 30px;
     margin-left: 157px; 
     position: absolute;
 }
 .box7:hover{
     background-color: rgb(11, 11, 15);
     transition: 1s;
     color: aliceblue;
 }     
.mein3{
    background-image: url(https://lhcdn.mars.com/adaptivemedia/rendition/id_abb4b2f9448a7eaeb07bb6718db3c0f827448607/name_abb4b2f9448a7eaeb07bb6718db3c0f827448607.jpg);
    height: 750px;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: 1950px;
    margin-left: -20px;
    background-size: cover;
    background-position: center;
}
.text12{
    margin-left: 950px;
    color: aliceblue;
    margin-top: 80px;
    position: absolute;
    font-size: 17px;
}
.text13{
    margin-top: 190px;
    margin-left: 700px;
    font-size: 45px;
    position: absolute;
    color: aliceblue;
}
.text14{
    color: aliceblue;
    margin-top: 370px;
    position: absolute;
    margin-left: 650px;

    
}
.box8{
    width: 140px;
    height: 20px;
    background-color:red;
    margin-top: 290px;
    margin-left: 930px;
    border: none;
}
.box9{
    width: 160px;
    height: 50px;
    background-color: chartreuse;
    color: rgb(12, 9, 9);
    border-radius: 13px;
    border: none;
    margin-top: 490px;
    margin-left: -147px; 
    position: absolute;
     }
.box9:hover{
    background-color: rgb(5, 5, 78);
    transition: 1s;
    color: aliceblue;
}
.mein4{
    background-image:url(); 
    height: 750px;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: 1950px;
    margin-left: -20px;
    background-size: cover;
    background-position: center;
   
    
}












